body{
    background-image: url("../img/img1.jpg");
    background-attachment: fixed;
    background-position-x: 380px;
    background-position-y: 100px; 
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: burlywood;
    
}
#titre{
    font-size:100px;
    margin-left: 150px;
    margin-top: 250px;
    color: black;
    text-shadow:3px 3px burlywood;
}
button{
    margin-left:565px;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: burlywood;
    text-shadow: 2px 2px black;
    border-radius: 5px;
}
